pre {

        border: 5px;
        border-style: none;
        border-color: #000;

	border-radius: 2px;
	background: #fff;
	justify-content: center;
 
}

html {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    scroll-behavior: smooth;    
}

body {

	background-image: url("./some-files/background.jpg");
	background-repeat: no-repeat;
	/*
    	-webkit-touch-callout: none;
    	-webkit-user-select: none;
    	-khtml-user-select: none;
    	-moz-user-select: none;
    	-ms-user-select: none;
	user-select: none;
       */
}

/*
body:focus {
	
	background-image: url("./some-files/background2.jpg");
	transition-duration: 5s;
}
*/
