#welcome {

	border: 10px;
	border-style: solid;
	border-color: #ffffff;

	background-color: #ffb6c1;
	border-radius-top-left: 5px;
	
	width: 205px;
}

#welcome:hover {

	opacity: 0.5; 
	width: 222px;
	transition-duration: 1s;

}

body {

	background-image: url("./some-files/background.jpg");
	#background-color: #5af2b2;	
	background-repeat: repeat;

}

