#welcome {

	border: 10px;
	border-style: solid;
	border-color: #ffffff;

	background-color: #ffb6c1;
	border-radius-top-left: 10px;
	
	width: 205px;

	display: flex;

}

#welcome:hover {

	opacity: 0.5; 
	width: 222px;
	background-color: #3366cc;
	transition-duration: 1s;

}

#rss {

        border: 10px;
        border-style: solid;
        border-color: #ffffff;

        background-color: #e2befb;
        border-radius-top-right: 10px;

        width: 275px;

	display: flex;
	justify-content: center;	
	flex-wrap: wrap;
	align-content: space-around;

}

#rss:hover {

        opacity: 0.6; 
	background-color: #eb002a;
        transition-duration: 1s;

}


body {

	background-image: url("./some-files/background.jpg");
	#background-color: #5af2b2;	
	background-repeat: repeat; 
    	-webkit-touch-callout: none;
    	-webkit-user-select: none;
    	-khtml-user-select: none;
    	-moz-user-select: none;
    	-ms-user-select: none;
	user-select: none;

}

