html {

    scroll-behavior: smooth;    

}

/* #date {

	border: 10px;
	border-style: solid;
	border-color: #ffffff;

	background-color: #cf934a;

}
*/

#icons-bar {

	background-color: #efefef;	
	filter: blur(0.3px);
	opacity: 0.6;
	
}

#icons-bar:hover {

	filter: blur(0.1px);	
	opacity: 0.3;

    box-shadow: inset 10px 10px 40px #2a2a2a; #,
#                inset -10px -10px 0px #ffffff;
	transition-duration: 2s;

}

#dots:hover, #git:hover, #rss-feed:hover {

    border-radius: 5px;
    background: linear-gradient(145deg, #d7d7d7, #ffffff);
    box-shadow: 50px 50px 100px #606060,
                inset -50px -50px 100px #ffffff;
   
}


/*.icons::after {
	
	content: all;
	position: absolute;
	opacity: 0.6;
	filter: blur(1px);

}
*/


#welcome {

	border: 10px;
	border-style: solid;
	border-color: #ffffff;

	background-color: #cf4a86;
	border-radius-top-left: 10px;
	
	position: absolute;
	width: 240px; 
	display: flex; 
	top: 40px;

    box-shadow: inset 4px 4px 40px #2a2a2a;
               /* -7px -7px 9px #2a2a2a;*/

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#welcome:hover {

	opacity: 0.5; 
	width: 250px;
	background-color: #6967d8;
	transition-duration: 1s;

    cursor: none;

}

#rss {

        border: 10px;
        border-style: solid;
        border-color: #ffffff;

        background-color: #4ac8cf;
        border-radius-top-right: 10px;

        #width: 370px;

        position: absolute;
	    left: 255px;
        top: 140px;

        box-shadow: inset 2px 2px 20px #2a2a2a;

}

#rss:hover {

    opacity: 0.6; 
    # background-color: #eb002a;
    background-color: #00ff99;
    transition-duration: 1s;

    cursor: none;

}

#lol {

    position: absolute;

    display: flex;

    flex-wrap: wrap;
    flex-shrink: 4;

    align-content: center;

}

#bash-example {

    opacity: 0.9;
    filter: blur(2px);

    position: relative;
    left: 650px;

}

#bash-example:hover {

    opacity: 0.99;
    filter: blur(0px);

    position: relative;
    left: 700px;

    transition-duration: 2s;

}

body {

	background-image: url("./some-files/background.jpg");
	background-repeat: no-repeat; 
    	-webkit-touch-callout: none;
    	-webkit-user-select: none;
    	-khtml-user-select: none;
    	-moz-user-select: none;
    	-ms-user-select: none;
	user-select: none;

}

body:focus {
	
	background-image: url("./some-files/background2.jpg");
	transition-duration: 5s;

}
